* {
    margin: 0;
}

body {
    background-color: #333333;
    color: white;
}

.dif {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
  }

li a {
    display: block;
    padding: 0.56rem;
    color: white;
    background-color: rgb(91, 91, 91);
    border: rgb(90, 169, 182) 2px solid;
}